%% -*- mode: erlang -*-
{erl_opts, [warnings_as_errors, {i, "/opt/couchdb/lib/couch-2.1.2-RC8/include"}]}.
%{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
    {ejwt, ".*", {git, "https://github.com/artefactop/ejwt"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
    {jsx, ".", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
]}.
